/* source: http://mystrd.at/modern-clean-css-sticky-footer/  */

html
{
  position: relative;
  min-height: 100%;
}

body
{
  margin: 0 0 96pt; /* footer-height (64pt) + spacing (32pt) */
}

footer
{
  position: absolute;
  left: 0;
  bottom: 0;
  height: 64pt;
  width: 100%;
}
